/************* Background ****************/
.bg-shop {
    background-color: #7c43bd !important;
}

/************* Button ****************/
.btn.btn-shop {
    background-color: #7c43bd;
    color: #ffffff;
    border-color: #7c43bd;
}

    .btn.btn-shop:hover,
    .btn.btn-shop:focus,
    .btn.btn-shop:active,
    .btn.btn-shop.active {
        color: #ffffff;
        background-color: #4a148c;
        border-color: #4a148c;
    }

.btn-shop:focus,
.btn-shop.focus {
    box-shadow: 0 0 0 0.2rem rgba(74, 20, 140, 0.5);
}

.btn-shop:not(:disabled):not(.disabled):active,
.btn-shop:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #7c43bd;
    border-color: #4a148c;
}

    .btn-shop:not(:disabled):not(.disabled):active:focus,
    .btn-shop:not(:disabled):not(.disabled).active:focus {
        box-shadow: 0 0 0 0.2rem rgba(74, 20, 140, 0.5);
    }

/************* Border ****************/
.border-shop {
    border-color: #7c42bd !important;
}

/************* List group item ****************/
.list-group-item.active {
    color: white;
    background-color: #7c42bd;
    border-color: #4a148c;
}

    .list-group-item.active:hover {
        text-decoration: none;
    }

.list-group-item:hover {
    text-decoration: none;
    border-color: #4a148c;
}

.list-group-item-shop {
    color: black;
    background-color: #caa2f8;
    border-color: #4a148c;
}

    .list-group-item-shop:hover {
        text-decoration: none;
        color: #4a148c;
    }

.list-group-item.active:hover {
    text-decoration: none;
    color: white;
}

.badge-shop {
    color: #fff;
    background-color: #4a148c;
}
/************* Table ****************/
.table-shop,
.table-shop > th,
.table-shop > td {
    background-color: #7c42bd;
    color: white;
}

    .table-shop th,
    .table-shop td,
    .table-shop thead th,
    .table-shop tbody + tbody {
        border-color: #4a148c;
    }

.table-hover .table-shop:hover {
    background-color: #4a148c;
}

    .table-hover .table-shop:hover > td,
    .table-hover .table-shop:hover > th {
        background-color: #7c42bd;
    }

/************* Table ****************/
.text-shop {
    color: #7c42bd !important;
}
