.c-V{
    background-color: yellow;
    color: black;
}
.c-C{
    background-color: orange;
    color: black;
}
.c-D{
    background-color: tomato;
    color: black;
}
.c-H{
    background-color: pink;
    color: black;
}
.c-K{
    background-color: gray;
    color: black;
}
.c-T{
    background-color: violet;
    color: black;
}
.c-TR{
    background-color: white;
    color: black;
}
.c-X{
    background-color: springgreen;
    color: black;
}