.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.card-bouq {
    transition: transform .5s;
}

    .card-bouq::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
        content: '';
        opacity: 0;
        z-index: -1;
    }

    .card-bouq:hover,
    .card-bouq:focus {
        transform: scale3d(1.006, 1.006, 1);
    }

    .card-bouq::after {
        opacity: 1;
    }
