.event-card {
    height: 375px;
    background-color: rgba(255, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    border: 1px solid rgba(74, 20, 140, 0.2);
}

.event-details {
    background-color: rgba(255, 255, 255, 0.3);
}

.event-text-1 {
    top: 10%;
    left: 5%;
    height: 80%;
    background-color: rgba(255, 255, 255, .80);
    position: relative;
    border: 1px solid rgba(74, 20, 140, 0.2);
    /* RGB of #4a148c */
}

.event-text-2 {
    top: 10%;
    left: 53%;
    height: 80%;
    background-color: rgba(255, 255, 255, .80);
    position: relative;
    border: 1px solid rgba(74, 20, 140, 0.2);
}

.event-text-content {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    font-family: inherit;
    font-size: inherit;
    overflow-x: hidden;
}

.feedback-card {
    height: 250px;
    background-color: rgba(255, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    border: 1px solid rgba(74, 20, 140, 0.2);
}

.location-card {
    height: 250px;
    background-color: rgba(255, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    border: 1px solid rgba(74, 20, 140, 0.2);
}

.location-text {
    margin: auto;
    height: 80%;
    background-color: rgba(255, 255, 255, .80);
    position: relative;
    border: 1px solid rgba(74, 20, 140, 0.2);
}

.location-text:hover, .event-text-1:hover, .event-text-2:hover, .event-card:hover, .feedback-card:hover, .location-card:hover {
    background-color: rgba(255, 255, 255, .95);
    border: 1px solid rgba(74, 20, 140, 0.6);
    transition: 0.4s;
}