.bg-shop-2 {
    background-color: #7c43bd !important;
}
body {
    background-color: #f5f5f5;
    padding-top: 25px;
    font-family: 'Open sans', Arial, sans-serif;
}

/************* Button ****************/
.btn.btn-shop {
  background-color: #7c43bd;
  color: #ffffff;
  border-color: #7c43bd;
}

  .btn.btn-shop:hover,
  .btn.btn-shop:focus,
  .btn.btn-shop:active,
  .btn.btn-shop.active {
      color: #ffffff;
      background-color: #4a148c;
      border-color: #4a148c;
  }

.btn-shop:focus,
.btn-shop.focus {
  box-shadow: 0 0 0 0.2rem rgba(74, 20, 140, 0.5);
}

.btn-shop:not(:disabled):not(.disabled):active,
.btn-shop:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #7c43bd;
  border-color: #4a148c;
}

  .btn-shop:not(:disabled):not(.disabled):active:focus,
  .btn-shop:not(:disabled):not(.disabled).active:focus {
      box-shadow: 0 0 0 0.2rem rgba(74, 20, 140, 0.5);
  }

  .header-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: .80rem;
  }
  
  .header-navigation a {
    font-size: .80rem;
  }
  
  .header-navigation .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    padding: 0.20rem 1rem;
  }
  
  .header-navigation .btn-group {
   margin-left: auto;
  }
  
  .header-navigation .btn-share {
    position: relative;
  }
  
  .header-navigation .btn-share::after {
    content: "";
    width: 1px;
    height: 50%;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
  
  .store-body {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  
  .store-body .product-info {
    width: 60%;
    border-right: 1px solid rgba(0,0,0,.125); 
  }
  
  .store-body .product-payment-details {
    width: 40%;
    padding: 15px 15px 0 15px;
  }
  
  .product-info .product-gallery {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
  
  .product-gallery-featured {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
    cursor: zoom-in;
  }
  
  .product-gallery-thumbnails .thumbnails-list li {
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    width: 70px;
    height: 70px;
  }
  
  .thumbnails-list li img {
    display: block;
    width: 100%;
  }
  
  .product-gallery-thumbnails .thumbnails-list li:hover::before {
    content: "";
    width: 3px;
    height: 100%;
    background: #007bff;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .product-info .product-seller-recommended {
    padding: 20px 20px 0 20px;
  }
  
  .product-comments textarea {
    height: 50px;
  }
  
  .last-questions-list li {
    margin-bottom: 20px;
  }
  
  .last-questions-list li span {
    padding-left: 10px;
  }